<html lang='en'><head><meta charset='UTF-8' /><meta
      content='width=device-width,initial-scale=1'
      name='viewport'
    /><style>@font-face{font-family:Calibri;src:url(../fonts/calibri-regular.ttf)
      format('truetype');font-weight:400;font-style:normal}@font-face{font-family:Calibri;src:url(../fonts/calibri-italic.ttf)
      format('truetype');font-weight:400;font-style:italic}@font-face{font-family:Calibri;src:url(../fonts/calibri-bold.ttf)
      format('truetype');font-weight:700;font-style:normal}@font-face{font-family:Calibri;src:url(../fonts/calibri-bold.ttf)
      format('truetype');font-weight:700;font-style:italic}*{padding:0;margin:0;box-sizing:border-box;font-family:Calibri,sans-serif}.flex{display:flex}.flex-col{flex-direction:column}.flex-row{flex-direction:row}.flex-1{flex:1}.justify-between{justify-content:space-between}.justify-center{justify-content:center}.items-center{align-items:center}.items-start{align-items:start}.font-bold{font-weight:700}.font-normal{font-weight:400}.font-8{font-size:8pt}.font-9{font-size:9pt}.font-10{font-size:10pt}.font-11{font-size:11pt}.font-14{font-size:14pt}.font-16{font-size:16pt}.uppercase{text-transform:uppercase}.max-w-200{max-width:250px}.mt-10{margin-top:10px}.mt-16{margin-top:16px}.mt-64{margin-top:64px}.w-full{width:100%}.w-1{width:1%}.w-250{width:250px}.min-w-250{min-width:250px}.gap-20{gap:40px}.gap-12{gap:12px}.nowrap{white-space:nowrap}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.px-4{padding-left:4px;padding-right:4px}.px-12{padding-left:12px;padding-right:12px}.pr-4{padding-right:4px}.pr-12{padding-right:12px}.pl-12{padding-left:12px}.h-separator{border-bottom:2px
      gray solid}.border-b{border-bottom:1px #00000070 solid}.border-t{border-top:1px #00000070
      solid}.border-2{border-width:2px}.border-black{border-color:#000}table{border:0 solid
      gray;border-collapse:collapse;font-size:10pt}td{border:none}th{border:none}.page-break{page-break-after:always}.main{display:flex;flex:1;flex-direction:column;justify-content:space-between;padding-top:32px;padding-right:32px;padding-left:32px;padding-bottom:8px;height:100vh}.logo{height:60px}.header-top{border-bottom:4px
      #000 solid;width:100%}.header-info{border-bottom:2px #000
      solid;width:100%;display:flex;flex-direction:row;flex-wrap:wrap;gap:12px}.body{flex:1}.footer{border-top:2px
      #000 solid;width:100%}</style><title>Invoice</title></head><body>{{#each pages}}<div
        class='main'
      ><div class='flex w-full flex-1 flex-col'>{{#if first}}<div class='logo-container'><img
                alt=''
                class='logo'
                src={{@root.logo_url}}
              /></div><div class='header-top mt-10'><div
                class='flex items-start justify-between'
              ><div class='flex flex-col'>{{#if @root.company.name}}<span
                      class='font-12 font-bold uppercase'
                    >{{@root.company.name}}</span>{{/if}}
                  {{#if @root.company.slogan}}<span
                      class='font-9 font-normal'
                    >{{@root.company.slogan}}</span>{{/if}}
                  {{#if @root.company.phone}}<span class='font-9 font-bold'>Telefone:<span
                        class='font-normal'
                      >{{@root.company.phone}}</span></span>{{/if}}
                  {{#if @root.company.email}}<span class='font-9 font-bold'>Email:<span
                        class='font-normal'
                      >{{@root.company.email}}</span></span>{{/if}}
                  {{#if @root.company.site}}<span class='font-9 font-bold'>Site:<span
                        class='font-normal'
                      >{{@root.company.site}}</span></span>{{/if}}
                  {{#if @root.company.address}}<span class='font-9 font-bold'>Rua:<span
                        class='font-normal'
                      >{{@root.company.address}}</span></span>{{/if}}
                  {{#if @root.company.tax_id}}<span class='font-9 font-bold'>NIF:<span
                        class='font-normal'
                      >{{@root.company.tax_id}}</span></span>{{/if}}
                  {{#if @root.company.location}}<span
                      class='font-9 font-bold'
                    >{{@root.company.location}}</span>{{/if}}</div><div
                  class='bg-red max-w-200 flex flex-col'
                ><span class='font-9'>Exmo.(s) Sr.(s)</span>{{#if @root.customer.name}}<span
                      class='font-9 font-bold uppercase'
                    >{{@root.customer.name}}</span>{{/if}}
                  {{#if @root.customer.phone}}<span
                      class='font-9'
                    >{{@root.customer.phone}}</span>{{/if}}
                  {{#if @root.customer.email}}<span
                      class='font-9'
                    >{{@root.customer.email}}</span>{{/if}}
                  {{#if @root.customer.address}}<span
                      class='font-9'
                    >{{@root.customer.address}}</span>{{/if}}
                  {{#if @root.customer.location}}<span
                      class='font-9'
                    >{{@root.customer.location}}</span>{{/if}}</div></div><div class='mt-16'><span
                  class='font-14 font-bold'
                >{{@root.document.number}}</span></div></div><div class='header-info'><div
                class='flex w-full gap-20'
              ><span class='font-9 flex flex-col font-bold'>V/N.º Contribuinte
                  {{#if @root.customer.tax_id}}<span
                      class='font-normal'
                    >{{@root.customer.tax_id}}</span>{{/if}}</span>{{#if
                  @root.document.currency.name
                }}<span class='font-9 flex flex-col font-bold'>Moeda<span
                      class='font-normal'
                    >{{@root.document.currency.name}}</span></span>{{/if}}
                {{#if @root.document.currency.rate}}<span
                    class='font-9 flex flex-col font-bold'
                  >Câmbio<span
                      class='font-normal'
                    >{{@root.document.currency.rate}}</span></span>{{/if}}<span
                  class='font-9 flex flex-col font-bold'
                >Data<span class='font-normal'>{{@root.document.date_issue}}</span></span><span
                  class='font-9 flex flex-col font-bold'
                >Vencimento
                  {{#if @root.document.due_date}}<span
                      class='font-normal'
                    >{{@root.document.due_date}}</span>{{/if}}</span></div><div
                class='flex w-full gap-20'
              >{{#if @root.document.discount}}<span
                    class='font-9 flex flex-col font-bold'
                  >Desc.<span class='font-normal'>{{@root.document.discount}}</span></span>{{/if}}
                {{#if @root.document.payment_terms}}<span
                    class='font-9 flex flex-col font-bold'
                  >Condição de Pagamento<span
                      class='font-normal'
                    >{{@root.document.payment_terms}}</span></span>{{/if}}
                {{#if @root.document.observation}}<span
                    class='font-9 flex flex-col font-bold'
                  >Observação<span
                      class='font-normal'
                    >{{@root.document.observation}}</span></span>{{/if}}</div></div>{{/if}}<div
            class='body'
          ><table class='mt-16 w-full'><thead><tr><th class='w-1 pr-12'><div
                      class='h-separator px-4'
                    >Artigo</div></th><th class='pr-12'><div
                      class='h-separator px-4 text-left'
                    >Desfrição</div></th><th class='w-1 pr-12'><div
                      class='h-separator px-4 text-center'
                    >Qtd</div></th><th class='w-1 pr-12'><div
                      class='h-separator px-4 text-right'
                    >Unit.</div></th><th class='nowrap w-1 pr-12'><div
                      class='h-separator px-4 text-right'
                    >P. Unitário</div></th><th class='w-1 pr-12'><div
                      class='h-separator px-4 text-right'
                    >Desc.</div></th><th class='w-1 pr-12'><div
                      class='h-separator px-4 text-right'
                    >Iva.</div></th><th class='w-1'><div
                      class='h-separator px-4 text-right'
                    >Valor</div></th></tr></thead><tbody>{{#each items}}<tr><td
                      class='font-10 nowrap pr-12 text-center'
                    >{{article}}</td><td class='font-10 pr-12 text-left'>{{name}}</td><td
                      class='font-10 pr-12 text-center'
                    >{{quantity}}</td><td class='font-10 nowrap pr-12 text-center'>{{unit}}</td><td
                      class='font-10 nowrap px-12 text-right'
                    >{{price}}</td><td class='font-10 nowrap px-12 text-right'>{{discount}}</td><td
                      class='font-10 nowrap px-12 text-right'
                    >{{iva}}</td><td
                      class='font-10 nowrap pl-12 text-right'
                    >{{value}}</td></tr>{{/each}}</tbody></table></div></div><div
          class='flex w-full flex-col'
        ><div class='resume'><div><span class='font-9'>a3wx-Processado por programa validado n.º
                7/AGT/2019/©PRIMAVERA BSS/</span></div><div
              class='footer flex justify-between gap-12'
            ><div class='flex-1'><span class='font-bold'>Quadro Resumo de Impostos</span><table
                  class='w-full'
                ><thead><tr class='border-b border-t'><th class='text-left'>Taxa/Valor</th><th
                        class='text-center'
                      >Incidência</th><th class='text-center'>Total</th></tr></thead><tbody>{{#each
                      @root.tax_summary
                    }}<tr><td class='text-center'>{{value}}</td><td
                          class='text-center'
                        >{{incidence}}</td><td class='text-center'>{{total}}</td></tr>{{/each}}<tr
                    ><th class='text-left' colspan='3'>Motivo Isenção</th></tr>{{#each
                      @root.tax_summary
                    }}
                      {{#if reason_exemption}}<tr><td
                            class='text-left'
                            colspan='3'
                          >{{reason_exemption}}</td></tr>{{/if}}
                    {{/each}}</tbody></table>{{#if @root.show_banks}}<div
                    class='mt-64 flex flex-col gap-12'
                  ><span class='font-10 font-bold'>Coordenadas Bancárias</span>{{#each
                      @root.banks
                    }}<div class='flex flex-col'><span
                          class='font-10 font-bold uppercase'
                        >{{account}}</span><span
                          class='font-10 font-bold uppercase'
                        >{{iban}}</span></div>{{/each}}</div>{{/if}}</div><div
                class='min-w-250'
              ><table class='w-full'><tbody><tr class='border-b'><td>Mercadoria</td><td
                        class='text-right'
                      >{{@root.total.items}}</td></tr><tr class='border-b'><td>Descontos</td><td
                        class='text-right'
                      >{{@root.total.discounts}}</td></tr><tr class='border-b'><td
                      >Adiantamentos</td><td class='text-right'>{{@root.total.advance}}</td></tr><tr
                      class='border-b'
                    ><td>Iva</td><td class='text-right'>{{@root.total.iva}}</td></tr><tr
                      class='border-b'
                    ><td>Acerto</td><td class='text-right'>{{@root.total.hit}}</td></tr><tr
                      class='border-2 border-b border-black'
                    ><td class='font-bold'>Total Retenção</td><td
                        class='text-right font-bold'
                      >{{@root.total.retention}}</td></tr><tr><td class='font-11 font-bold'>Total
                        (Akz)</td><td
                        class='font-11 text-right font-bold'
                      >{{@root.total.value}}</td></tr></tbody></table></div></div></div><footer
            class='paginate'
          ><div class='flex items-center justify-center'><span class='font-8'>Página
                {{current}}
                de
                {{@root.total_pages}}</span></div></footer></div></div>{{#if this.break}}<div
          class='page-break'
        ></div>{{/if}}
    {{/each}}</body></html>